@rendermode InteractiveServer
﻿<div id="sidebar">
    <DxMenu CssClass="menu" Orientation="Orientation.Vertical" DisplayMode="MenuDisplayMode.Desktop" DropDownActionMode="MenuDropDownActionMode.Click" HamburgerButtonPosition="MenuHamburgerButtonPosition.Reverse" CollapseItemsToHamburgerMenu="true">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="MENU" CssClass="menu-item" IconCssClass="fa fa-home"></DxMenuItem>
            <DxMenuItem NavigateUrl="/" Text="Hiện trạng KD" CssClass="menu-item" IconCssClass=""></DxMenuItem>
            <DxMenuItem NavigateUrl="/" Text="Hiện trạng SX" CssClass="menu-item" IconCssClass=""></DxMenuItem>
            <DxMenuItem Text="Khách hàng" CssClass="menu-item" IconCssClass="fal fa-users"></DxMenuItem>
            <DxMenuItem Text="Danh sách khách hàng" NavigateUrl="/customer" CssClass="menu-item" IconCssClass=""></DxMenuItem>
            <DxMenuItem Text="CSKH" CssClass="menu-item" NavigateUrl="/customer-care" IconCssClass=""></DxMenuItem>
            <DxMenuItem Text="Hiện trạng đơn hàng" NavigateUrl="/order" CssClass="menu-item" IconCssClass=""></DxMenuItem>
            <DxMenuItem Text="Sản phẩm" CssClass="menu-item" IconCssClass="far fa-box-full"></DxMenuItem>
            <DxMenuItem Text="DS Sản phẩm" CssClass="menu-item" NavigateUrl="/product" IconCssClass=""></DxMenuItem>
            <DxMenuItem Text="Bảng tính" CssClass="menu-item" IconCssClass=""></DxMenuItem>
        </Items>
    </DxMenu>
</div>